# --- SENSITIVE DATA (Priority 1) ---
.env

# --- DATA FILES (Priority 2) ---
# This ignores the entire data folder and everything inside it
data/raw/
# These catch stray files in the root

*.xlsx
*.json
*.rds
*.parquet
*.sqlite

# --- PYTHON SETTINGS ---
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
.python-version

# --- R SETTINGS ---
.Rhistory
.RData
.Rproj.user/
renv/library/
renv/staging/

# --- OS SETTINGS ---
.DS_Store